<app-navbar></app-navbar>

<app-add-item></app-add-item>

<div *ngIf="items?.length > 0;else noItems" class="formEditItem container">
    <div *ngFor="let item of items" class="collection">

      <div class="collection-item container"><strong>{{item.title}}: </strong> {{item.description}} 
          <button type="button" (click)="editItem($event, item)" >Editar</button> 
          <button *ngIf="editState && itemToEdit.id == item.id" (click)="clearState()" class="clear">limpiar</button>  
          <div *ngIf="editState && itemToEdit.id == item.id" class="formEditItem">
              <form (ngSubmit)="updateItem(item)">
                  <div class="row">
                      <div class="input-field">
                        <input type="text" placeholder="Add Title" [(ngModel)]="item.title" name="title">
                      </div>
                      <div class="input-field">
                        <input type="text" placeholder="Add Description" [(ngModel)]="item.description" name="description">
                      </div>
                      <input type="submit" value="Update Item">
                      <button (click)="deleteItem($event, item)" >Delete Item</button>
                    </div>
              </form>
            </div>
        
          </div>
    </div>

  </div>

  <ng-template #noItems>
    <hr>
    <h5>No hay publicaciones en el momento</h5>
  </ng-template>



