<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" [routerLink]="[ '/inicio' ]">inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" [routerLink]="[ '/perfil' ]">perfil</a>
      </li>

      
       <p class="nombre"> {{usuario.nombre}} {{usuario.apellido}} </p>


      <button type="submit" (click)="salir()" class=" mr-sm-2 salir">Salir <img [src]="'/assets/imagenes/salir.png'" width="20px"></button>
    </ul>

    <div class="" *ngFor="let item of items | async">
      <img [src]="item.url" width="24px">
    </div>

    <div 
         
          class="form-inline ">

      <input class="form-control forms" type="search" (keyup.enter)="buscarUsuario(buscarTexto.value)" placeholder="Search" aria-label="Buscar"  #buscarTexto>
      
  </div>
  
  </div>
</nav>

